@import "../../css/global.css";

.homeBackground {
    height: 100vh;
    position: relative;
    background-color: #212121;
    overflow-x: hidden;
    overflow-y: hidden;
}
.homeContainer {
    height: 100vh;
    position: relative;
}
.homeCircle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.homeCircle:nth-child(1) {
    height: 202px;
    width: 202px;
    top: 131px;
    right: 390px;
}
.homeCircle:nth-child(2) {
    height: 290px;
    width: 290px;
    top: 103px;
    right: 0;
}
.homeCircle:nth-child(3) {
    height: 501px;
    width: 501px;
    bottom: -240px;
    right: 66px;
}
.homeBarChart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homeBook {
    position: absolute;
    top: 43px;
    right: 45px;
}
.homeMoney {
    position: absolute;
    bottom: 0;
    right: 198px;
    animation-duration: 2s;
    animation-iteration-count: unset;
    animation-name: money;
}
@keyframes money {
    from {
        right: -1000px;
    }
    to {
        right: 198px;
    }
}
.homeBudget {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homePieChart {
    position: absolute;
    top: 22px;
    right: -69px;
    animation-duration: 2s;
    animation-iteration-count: unset;
    animation-name: pieChart;
}
@keyframes pieChart {
    from {
        right: -1000px;
    }
    to {
        right: -69px;
    }
}
.homeMainTitle {
    width: 363px;
    position: absolute;
    bottom: 42px;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.homeLineWrapper {
    position: relative;
    top: 67px;
    left: 0;
}
.homeLine {
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #2196F3;
    animation-duration: 1s;
    /*animation-iteration-count: infinite;*/
    animation-name: lineOne;
}
.homeLine:nth-child(2) {
    width: 25%;
    top: 54px;
    background-color: #FFC107;
    animation-duration: 3s;
    animation-iteration-count: unset;
    animation-name: lineTwo;
}
@keyframes lineOne {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes lineTwo {
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}
